name: Documentation
on:
  pull_request:
    branches: [ "main" ]
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
permissions:
  contents: read
jobs:
  docs:
    name: Build Documentation
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: Set up Node 
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 20

    - name: Make docs
      run: |
        make docs

    - name: Set up s3cmd
      uses: s3-actions/s3cmd@558ab259e985802479fab6cfd7453bd74b45bc5b # v2.0.1
      if: github.event_name != 'pull_request'
      with:
        provider: aws 
        region: ${{ secrets.S3_REGION }}
        access_key: ${{ secrets.S3_ACCESS_KEY }}
        secret_key: ${{ secrets.S3_SECRET_KEY }}

    - name: Upload to s3
      if: github.event_name != 'pull_request'
      env:
        BUCKET: ${{ secrets.S3_BUCKET }}
      run: |
        s3cmd sync --recursive --delete-removed build/site/* s3://${BUCKET}/