name: Linter
on:
  pull_request:
    branches: [ "main" ]
permissions:
  contents: read
jobs:
  check-links:
    name: Markdown / Link
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Run linkspector
        uses: umbrelladocs/action-linkspector@874d01cae9fd488e3077b08952093235bd626977 # v1.3.7
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          fail_on_error: true
  golint:
    name: Go
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      issues: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Requirements
        uses: reviewdog/action-golangci-lint@f9bba13753278f6a73b27a56a3ffb1bfda90ed71 # v2.8.0
        with:
          github_token: ${{ secrets.github_token }}
          golangci_lint_flags: "--fix --timeout 2m0s --default=none -E asciicheck,bidichk,bodyclose,canonicalheader,dogsled,exhaustive,gocheckcompilerdirectives,durationcheck,errname,errorlint,goheader,inamedparam,interfacebloat,intrange,makezero,mirror,misspell,noctx,nonamedreturns,prealloc,predeclared,staticcheck,testifylint,unconvert,usestdlibvars,wastedassign"
          reporter: github-pr-review
          tool_name: Go Lint Issues
          fail_on_error: true
          cache: false
          filter_mode: added
          golangci_lint_version: v2.6.1
      - name: Suggestions 
        uses: reviewdog/action-golangci-lint@f9bba13753278f6a73b27a56a3ffb1bfda90ed71 # v2.8.0
        if: success() || failure()
        with:
          github_token: ${{ secrets.github_token }}
          golangci_lint_flags: "--fix --timeout 2m0s -E dupl,gocritic,maintidx,mnd,perfsprint,revive,staticcheck"
          reporter: github-pr-review
          tool_name: Go Lint Suggestions 
          level: warning 
          fail_on_error: false
          cache: false
          filter_mode: file
          golangci_lint_version: v2.6.1
      - uses: reviewdog/action-suggester@aa38384ceb608d00f84b4690cacc83a5aba307ff # v1.19.0
        if: success() || failure()
        with:
          tool_name: Go Lint Issues 
          github_token: ${{ secrets.github_token }}